<ion-header>
  <ion-toolbar>
    <ion-title>
      <p style="text-align: center">{{ nomeItem }}</p>
    </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="formItem">
    <ion-item>
      <ion-label position="floating">Item</ion-label>
      <ion-input type="text" formControlName="nome"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Quantity</ion-label>
      <ion-input type="number" formControlName="quantity"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Price</ion-label>
      <ion-input type="number" formControlName="price"></ion-input>
    </ion-item>

    <ion-button (click)="confirm()" id="confirm" expand="block" type="submit" [strong]="true">
      Confirmar
    </ion-button>
  </form>
</ion-content>
